.card {
  margin-left: 5px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
aside {
  display: flex;
  flex-direction: column;
  height: 80%;
}
main {
  display: flex;
  flex-wrap: wrap;
  height: 85%;
}

aside > div {
  background-color: rgb(154, 205, 240);
  width: 125px;
  text-align: center;
  margin: 4px 0px;
  height: 50px;
  vertical-align: middle;
  line-height: 50px;
}

h1 {
  text-align: center;
  font-size: 35pt;
}
header {
  width: 100%;
}
